name: C/C++ CI

on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile ft_calloc
        run: cc ft_calloc.c -c -o ft_calloc.o
        continue-on-error: true

      - name: Compile ft_split
        run: cc ft_split.c -c -o ft_split.o
        continue-on-error: true

      - name: Compile ft_strlcpy
        run: cc ft_strlcpy.c -c -o ft_strlcpy.o
        continue-on-error: true

      - name: Compile ft_substr
        run: cc ft_substr.c -c -o ft_substr.o
        continue-on-error: true
